<app-search-bar (searchTermChange)="applySearchFilter($event)"></app-search-bar>




<div class="card-container">
  <div class="card" *ngFor="let book of filteredBooks">
    <img [src]="book.imageUrl" class="card-img" alt="{{ book.title }}">
    <div class="card-body">
      <h5 class="card-title">{{ book.title }}</h5>
      <p class="card-text">Autore: {{ book.author }}</p>
      <button type="button" class="btn btn-outline-danger btn-spacing" (click)="removeBook(book)">Remove</button>
      <button type="button" class="btn btn-outline-secondary btn-spacing" (click)="navigateToDetail(book)">Detail</button>
    </div>
  </div>



<!-- 
<div class="sorting-button">
  <button (click)="sortBooks()">
    Ordina per Titolo
    <ng-container *ngIf="isAscendingSort; else descendingArrow">&#9650;</ng-container>
    <ng-template #descendingArrow>&#9660;</ng-template>
  </button>
</div> -->


</div>





