.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }
  
  .card {
    width: 400px; 
  }

  .cust-form {
    background-color: rgba(55, 55, 56, 0.825); 
    padding: 16px; 
  }

  .bttn{
    padding: 16px;
  }
  